* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(/image/image-accueil/fond-feuillage-tropical_53876-91352.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.image {
    width: 300px;
    height: 200px;
    border-radius: 50%
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;


}
ul {
    list-style: none;
    display: flex;
}
ul li {
    margin: 0 10px;
}
a {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.5s;
    border-radius: 6px;
}
a:hover {
    background-color: #000;
    color: #fff;
}

/* debut de mon main*/

.presentation {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    text-align: center;

}

p {
    font-family: "Apple Chancery", cursive; 
    color: #fff;
    
}

h4 {
    font-family: "Comic sans ms", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-right: 300px;
    color: #fff;
}

.front,
.back {
    position: absolute;
    border: solid 1px black;
    border-radius: 20px;
    width: 1000px;
    height: 600px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.front-content,
.back-content {
    transform: translateZ(70px);
}

.back {
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(to right, #f9fbb5, #34ae71b8);
    transform: rotateY(180deg);
}

.back h2 {

    color: #000000;
    font-family: "Comic sans ms", sans-serif;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 50px;
    text-shadow: #4064f6 2px 7px 2px;
}

.image1 {
    width: 1000px;
    height: 600px;
    border-radius: 20px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 2s ease-in-out;
    transform-style: preserve-3d;
}

.container-3d:hover .card {
    transform: rotateY(180deg);
}

.container-3d {
    width: 1000px;
    height: 600px;
    perspective: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

#container {
    max-width: 1000px;
    height: auto;
    margin: auto;
    position: relative;
}

.slides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 16px;
    border-radius: 0 3px 3px 0;
    background: rgba(0, 0, 0, .5);
    transition: all .3s;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, .8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 10px 2px 0 2px;
    display: inline-block;
    background: #ddd;
    transition: all .3s;
}

.active,
.dot:hover {
    background: #717171;
}

h3 {
    color: #fff;
    font-family: "Comic sans ms", sans-serif;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.button {
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #ffffff;
}

.contact {
    font-size: 25px;
    font-family: 'Consolas', sans-serif;
    margin-bottom: 20px;
}

.p1 {
    padding-bottom: 30px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espace entre les deux sections */
    width: 100%;
    max-width: 1500px; /* Largeur maximale globale pour les deux sections ensemble */
}

.avis, .horaire {
    text-align: center;
    background: url(/image/image-accueil/arbre-photorealiste-branches-tronc-exterieur-dans-nature_23-2151478131.jpg);
    background-size: cover;
    width: 100%;
    flex: 1; /* Chaque section occupe une part égale de l'espace disponible */
    padding: 20px;
    border: 3px solid #535252;
    border-radius: 15px;
    box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur totale */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avis h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
}

/* Style pour les bulles d'avis */
.avis-bubble {
    background: #fff;
    border: 3px solid #535252;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.avis-bubble::after {
    content: "";
    position: absolute;
    bottom: -20px; /* Ajustez pour placer la flèche de la bulle */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff; /* Couleur de la bulle */
}

/* Style pour le contenu de l'avis */
.avis-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avis-author {
    font-weight: bold;
    margin-bottom: 10px;
}

.etoile {
    width: 100px;
    margin-bottom: 10px;
}

.avis-text {
    font-size: 16px;
    color: #535252;
    text-align: center;
}

/* Style pour le bouton */
.button {
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 3px solid #000000;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000000;
}

.button a {
    text-decoration: none;
    color: #000000;
}

.plan-site {
    margin-top: 30px;
    text-decoration: none;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #000000;
    border: solid 3px #000000;
    margin-left: 20px;
}

.modale {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(77, 77, 77, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modale:target {
    visibility: visible;
    opacity: 1;
}

.modale_content {
    padding: 1.5em 2em;
    width: 800px;
    max-width: 90%;
    border: 15px;
    position: relative;
}

.modale_close {
    position: absolute;
    font-size: x-large;
    right: 280px;
    top: 90px;
    color: red;
}

/*fin de mon main*/

/*debut de mon footer*/



footer {
    width: 100%;
    height: 80px;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contener {
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/*fin de mon footer*/

@media screen and (max-width: 1037px) {
    body {
        position: relative;
    }

    ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -1500px;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        transition: 0.5s;
        backdrop-filter: blur(10px);
        
    }
    ul li {
        margin: 20px 0;
    }
    ul li a{

        text-transform: uppercase;

    }
    ul li a:hover{
        color: #fff;
    }
    
    .button{
        z-index: 100;
        width: 50px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .button::after{
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #000;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 #000 ;
        transition: 0.5s;
    }
    .button.active::after{
        transform: rotate(45deg);
        box-shadow: 0 0 0 #000 ;
    }
    .button::before{
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #fff;
        transform: translateY(10px);
        transition: 0.5s;
        display: none;
    }
    .button.active::before{
        transform: rotate(-45deg);
    }
    ul.active {
        left :0 ;
    }
    
}

@media (max-width:800px) and (min-width: 150px) {
    .container-3d .card {
        width: 100%;
        height: auto;
        position: initial;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
    }
}

@media (max-width:800px) {
    .animation .caroussel {
        width: 80%;

    }
}

@media (max-width:800px) and (min-width: 150px){
    .horaire {
        width: 100%;
        height: auto;
        position: initial;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:800px) and (min-width: 150px){
    .avis {
        width: 100%;
        height: auto;
        position: initial;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1120px) {
    .container-3d {
    width: 100%;
    height: auto;
    position: initial;
    margin-left: auto;
    margin-right: auto;
    }
    
    .card {
    width: 100%;
    height: auto;
    position: initial;
    margin-left: auto;
    margin-right: auto;
    }
    
    .front, .back {
    width: 100%;
    height: auto;
    position: initial;
    margin-left: auto;
    margin-right: auto;
    }
    
    .image1 {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    }
    
    .front-content, .back-content {
    transform: none;
    }
}

