body {
    background-color: #ffffff;
}

/* debut de mon header*/

h1 {
    display: flex;
    padding: 20px;
    font-family: 'Consolas', sans-serif;
}

header {
    width: 1520px;
    background-color: #C28165;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 250px;
    height: 155px;
    float: right;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
}

/* fin de mon header*/

/* debut de mon main*/

.intro {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #BCC678;
    width: 750px;
    height: 600px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 3px solid #535252;
}

.prsentation {
    display: flex;
    flex-direction: column;
}

.image1 {
    width: 750px;
    height: 600px;
    float: right;
    display: flex;
    flex-direction: column;
}

.photo {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.photo2 {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image2 {
    width: 600px;
    height: 300px;
    margin-left: 20px;
}

.image3 {
    width: 750px;
    height: 400px;


}

.image4 {
    width: 750px;
    height: 400px;
    margin-left: 20px;
}

h2 {
    color: #000000;
    font-family: 'Consolas', sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.A {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h3 {
    color: #000000;
    font-family: 'Consolas', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.button {
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 10px;

}


.horaire {
    background-color: #e4d2a1;
    width: 750px;
    height: 400px;
    -webkit-border-radius:150px /100px;
    -moz-border-radius:150px /100px;
    -o-border-radius:150px /100px;
    border-radius: 150px /100px;
    padding-top: 100px;
    margin-top: 90px;
    list-style: none;
    border: 3px solid #535252;
}

.avis {
    background-color: #e4d2a1;
    width: 750px;
    padding-bottom: 20px;
    border: 3px solid #535252;
}

.etoile {
    width: 100px;
}

/*fin de mon main*/

/*debut de mon footer*/



footer {
    width: 1520px;
    height: 80px;
    background-color: #C28165;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contener {
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

@media (max-width: 500px) and (max-width: 1000px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu li a {
        padding: 10px;
    }

    .intro {
        width: 100%;
        height: 100%;
    }

    .image1 {
        width: 100%;
        height: 100%;
    }

    .image2 {
        width: 100%;
        height: 100%;
    }

    .image3 {
        width: 100%;
        height: 100%;
    }

    .image4 {
        width: 100%;
        height: 100%;
    }

    .horaire {
        width: 100%;
        height: 100%;
    }

    .avis {
        width: 100%;
        height: 100%;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
}
