body {
    background-color: #ffffff;
}

/* debut de mon header*/

h1 {
    background-color: #C28165;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.menu {
    background-color: #C28165;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 250px;
    height: 155px;
    float: right;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
}

/* fin de mon header*/

/* debut de mon main*/

.intro {
    background-color: #BCC678;
    width: 800px;
    height: 600px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #000000;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}


/*fin de mon main*/

