.zoo {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #C28165;
}

.marquee-rtl {
    max-width: 90em;
    padding-top: 25px;
    margin: 0 auto;
    border: 10px solid #f0f0ff;
    overflow: hidden;
    box-shadow: 0 .25em .5em #ccc, inset 0 0 .1em .25em #ccc;
}

.marquee-rtl > :first-child {
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation-name: defilement-rtl;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-100%,0,0);
    }
}

.h1 {
    font-size: 90px;
    font-family: 'Consolas', sans-serif;
}

.image {
    width: 300px;
    height: 213px;
    float: left;
}

:root {
    --hauteur-menu: 60px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: var(--hauteur-menu);
}

nav ul {
    list-style: none;
}

nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}

.menu-deroulant > a::after{
    content: ">";
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
}

.sous-menu > li >a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav >ul > li:hover >a {
    color: #C28165;
}

.sous-menu >li:hover {
    background-color: #C28165;
}

.sous-menu > li:hover > a {
    color: white;
}

@keyframes rotationfleche {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
    
}

.menu-deroulant:hover > a:after {
    animation: rotationfleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid #C28165;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        max-height: 50em;
        border-top: 3px solid #C28165;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}


/* debut de mon main*/
.text {
margin-top: 20px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
background: linear-gradient(to left , #f9fbb5, #34ae71b8);
width: 80%;
height: 700px;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
border: 3px solid #535252;
display: grid;
grid-template-columns: repeat(3 , 1fr);
grid-template-rows: repeat(2 , 1fr);
}

.texte1 {
    width: 400px;
    height: 350px;
    border: 3px solid #535252;
    border: none;
    grid-column: 3/4;
    grid-row: 2/3;
}

.texte2 {
    width: 400px;
    height: 350px;
    border: 3px solid #535252;
    border: none;
    
}

.texte0 {
    width: 410px;
    height: 350px;
    border: 3px solid #535252;
    border: none;
    grid-column: 2/3;
    grid-row: 1/2;
}

.jungle {
    width: 410px;
    height: 350px;
}
.jungle1 {
    width: 410px;
    height: 350px;
}

.jungle3 {
    width: 410px;
    height: 350px;
    grid-column: 2/3;
    grid-row: 2/3;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-align: center;
    font-family: 'Consolas';
    padding-top: 20px;
    padding-bottom: 50px;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-family: 'Consolas';
    padding-top: 20px;
    padding-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-family: 'Consolas';
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 0px;
}

main {
    background-image: linear-gradient(to right, #f9fbb5, #34ae71b8);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    padding-bottom: 50px;
}

#board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.container {
    width: 450px;
    height: 700px;
    perspective: 1000px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container:hover .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 700px;
    width: 450px;
    position: relative;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.card .image {
    width: 450px;
    height: 400px;
    border-radius: 25px;
    margin-top: 80px;
}

.card .image1 {
    width: 300;
    height: 250px;
    border-radius: 25px;
    
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(24, 24, 24, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.back {color: #fff;
    background-color: #444343;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}


.card .container{
    position: absolute;
    width: 450px;
    height: 700px;
    border-radius: 10px;
    padding: 20px;
    transition:  0.5s;
    left: calc(50% - 110px);
    top: 0;
}


.card image {
    width: 450px;
    height: 400px;
    border-radius: 25px;
    margin-top: 80px;
}

.card .image1 {
    width: 300;
    height: 200px;
    border-radius: 25px;
    margin-top: 0;
}

.box .icons {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    background: #fff;
    border-radius: 5px;
    border: solid #000 3px;

}


.icons .like {
    width: 30px;
    border-right: #000 solid 2px;
    pointer-events: none;
    margin-right: 5px;
}


.button {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
}

.like {
    color: black;

}



/* fin de mon main*/

/*debut de mon footer*/



footer {
    width: 100%;
    height: 80px;
    background-color: #C28165;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contener {
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/*fin de mon footer*/