* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(/image/image-accueil/fond-feuillage-tropical_53876-91352.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.image {
    width: 300px;
    height: 200px;
    border-radius: 50%
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;


}
ul {
    list-style: none;
    display: flex;
}
ul li {
    margin: 0 10px;
}
a {
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.5s;
    border-radius: 6px;
}
a:hover {
    background-color: #000;
    color: #fff;
}

/*debut de mon main*/

.content {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    padding-top: 20px;
    align-items: center;
    border-radius: 10px;
}

.resto1 img {
    width: 40%;
    height: 300px;
    border-radius: 25px;
    margin-left: 100px;
}

p {
    font-family: "Apple Chancery", cursive;
}

.restauration {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 900px;
    height: 500px;
    font-family: "Apple Chancery", cursive;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Comic sans ms", sans-serif;
    color: #000000;
    text-shadow: 2px 4px 2px #fff;
}

h3 {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: "Comic sans ms", sans-serif;
    color: #fff;
    text-shadow: 2px 4px 2px rgb(27, 233, 252);
}

h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Comic sans ms", sans-serif;
}

.train{
    width: 1000px;
    height: 650px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.video1 {
    width: 650px;
    height: 400px;
    margin-left: 100px;
    padding-bottom: 20px;
}

.video2 {
    width: 650px;
    height: 400px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.aventure {
    color: #fff;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;

}

.safari {
    border: solid 3px #000000;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    background: url(/image/image-services/belle-girafe-dans-nature_23-2151708875.jpg);
}

.visite-guide {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;

}

.visite {
    border-radius: 50%;
    border: solid 3px #000000;
    width: 600px;
    height: 400px;
    background-color: #e4d2a1;
    margin-left: 100px;
    text-align: center;
}

.guide {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 100px;
    border-radius: 10px;
}





/*fin de mon main*/
/*debut de mon footer*/

footer {
    width: 100%;
    height: 80px;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contener {
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/*fin de mon footer*/

@media screen and (max-width: 1037px) {
    body {
        position: relative;
    }

    ul {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -1500px;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        transition: 0.5s;
        backdrop-filter: blur(10px);
        
    }
    ul li {
        margin: 20px 0;
    }
    ul li a{

        text-transform: uppercase;

    }
    ul li a:hover{
        color: #fff;
    }
    
    .button{
        z-index: 100;
        width: 50px;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .button::after{
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #fff;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 #fff ;
        transition: 0.5s;
    }
    .button.active::after{
        transform: rotate(45deg);
        box-shadow: 0 0 0 #fff ;
    }
    .button::before{
        content: "";
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: #fff;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .button.active::before{
        transform: rotate(-45deg);
    }
    ul.active {
        left :0 ;
    }
    
}