/* Option A: Include all of Bootstrap */

/* Include any default variable overrides here (though functions won't be available)*/
:root {
--primary-color: #C28165;
--secondary-color: #e4d2a1;
--dark-color: #444343;
--black-color: #000000;
--font-family-sans-serif: "Montserrat", sans-serif;
--font-family-serif: "snell roundhand", serif;
}

@import "../node_modules/bootstrap/scss/bootstrap";
