
body {
    height: 100vh;
    --primary: hsl(58, 86%, 89%);
    --secondary: hsl(86, 93%, 73%);
    background: linear-gradient(70deg, var(--primary), var(--secondary));
}

.zoo {
    width: 100%;
    height: 150px;
    background-color: #C28165;
}

.marquee-rtl {
    max-width: 100%;
    padding-top: 25px;
    margin: 0 auto;
    border: 10px solid #f0f0ff;
    overflow: hidden;
    box-shadow: 0 .25em .5em #ccc, inset 0 0 .1em .25em #ccc;
}

.marquee-rtl> :first-child {
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation-name: defilement-rtl;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.h1 {
    font-size: 100px;
    font-weight: 800;
    font-family: "Comic sans ms", sans-serif;
}

.image {
    width: 300px;
    height: 213px;
    float: left;
}

:root {
    --hauteur-menu: 60px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav>ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: var(--hauteur-menu);
}

nav ul {
    list-style: none;
}

nav>ul>li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav>ul>li>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu-deroulant>a::after {
    content: ">";
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    cursor: pointer;

}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
}

.sous-menu>li>a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav>ul>li:hover>a {
    color: #C28165;
}

.sous-menu>li:hover {
    background-color: #C28165;
}

.sous-menu>li:hover>a {
    color: white;
}

@keyframes rotationfleche {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }

}

.menu-deroulant:hover>a:after {
    animation: rotationfleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid #C28165;
    }

    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        max-height: 50em;
        border-top: 3px solid #C28165;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

.menu-deroulant:hover>.sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

/*debut de mon footer*/



footer {
    width: 100%;
    height: 80px;
    background-color: #C28165;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contener {
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/*fin de mon footer*/

@media (max-width:800px) and (min-width: 150px) {
    .menu {
        display: none;
    }
}

@media (max-width:800px) and (min-width: 150px) {
    .marquee-rtl {
        display: none;
    }
}

@media (max-width:800px) and (min-width: 150px) {
    .image {
        width: auto;
    }
}