body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: 'montserrat', sans-serif;
}

form {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    border: solid 3px #000;
}

form h1 {
    text-align: center;
    color: #eb7371;
    font-size: 40px;
}

form p.choose-email {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

form .inputs {
    display: flex;
    flex-direction: column;
}

form .inputs input[types="email"],
input[types="password"],  input[types="Nom"],
input[types="Prenom"] {
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    outline: none;
    text-align: center;
}

.inputs {
    text-align: center;
}

.button {
    padding: 15px 25px;
    text-align: center;
}

form .clic {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: #ffffff;
    background-color: #eb7371;
    cursor: pointer;
}
.link {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.lien {
    text-align: center;
    color: #000000;
    text-decoration: none;
    list-style: none;
    margin-right: 40px;
}


