.zoo {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #C28165;
}

h1 {
    font-size: 50px;
    padding-top: 40px;
    font-family: 'Consolas', sans-serif;
}

.image {
    width: 300px;
    height: 213px;
    float: left;
}

:root {
    --hauteur-menu: 60px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: var(--hauteur-menu);
}

nav ul {
    list-style: none;
}

nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}

.menu-deroulant > a::after{
    content: ">";
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
}

.sous-menu > li >a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav >ul > li:hover >a {
    color: #C28165;
}

.sous-menu >li:hover {
    background-color: #C28165;
}

.sous-menu > li:hover > a {
    color: white;
}

@keyframes rotationfleche {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
    
}

.menu-deroulant:hover > a:after {
    animation: rotationfleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid #C28165;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        max-height: 50em;
        border-top: 3px solid #C28165;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

/* debut de mon main*/

.intro {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #BCC678;
    width: 750px;
    height: 600px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: 3px solid #535252;
}

.prsentation {
    display: flex;
    flex-direction: column;
}

.image1 {
    width: 750px;
    height: 604px;
    float: right;
    display: flex;
    flex-direction: column;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo1 {
    display: flex;
    animation-duration: 50s;
    animation-name: mesimages;
    animation-iteration-count: infinite;

}

#caroussel {
    width: 1000px;
    overflow: hidden;
    border: solid 3px black;
}

@keyframes mesimages {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-1000px);
    }

    20% {
        transform: translateX(-2000px);
    }

    30% {
        transform: translateX(-3000px);
    }

    40% {
        transform: translateX(-4000px);
    }

    50% {
        transform: translateX(-5000px);
    }

    60% {
        transform: translateX(-6000px);
    }

    70% {
        transform: translateX(0);
    }
}

h2 {
    color: #000000;
    font-family: 'Consolas', sans-serif;
    font-size: 40px;
    padding-bottom: 70px;
    padding-top: 50px;
}

.A {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h3 {
    color: #000000;
    font-family: 'Consolas', sans-serif;
    font-size: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.button {
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 10px;

}


.horaire {
    background-color: #e4d2a1;
    width: 750px;
    height: 450px;
    -webkit-border-radius: 150px /100px;
    -moz-border-radius: 150px /100px;
    -o-border-radius: 150px /100px;
    border-radius: 150px /100px;
    padding-top: 100px;
    list-style: none;
    border: 3px solid #535252;
}

.p1 {
    padding-bottom: 30px;
}

.avis {
    background-color: #e4d2a1;
    width: 750px;
    padding-bottom: 20px;
    border: 3px solid #535252;
}

.etoile {
    width: 100px;
}

.plan-site {
    text-decoration: none;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #000000;
    border: solid 3px #000000;
    margin-left: 20px;
}

.modale {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(77, 77, 77, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modale:target {
    visibility: visible;
    opacity: 1;
}

.modale_content {
    padding: 1.5em 2em;
    width: 800px;
    max-width: 90%;
    border: 15px;
    position: relative;
}

.modale_close {
    position: absolute;
    right: 280px;
    top: 90px;
    color: red;
    text-decoration: none;
}

/*fin de mon main*/

/*debut de mon footer*/



footer {
    width: 1520px;
    height: 80px;
    background-color: #C28165;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contener {
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/*fin de mon footer*/
