.zoo {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #C28165;
}

.marquee-rtl {
    max-width: 90em;
    padding-top: 25px;
    margin: 0 auto;
    border: 10px solid #f0f0ff;
    overflow: hidden;
    box-shadow: 0 .25em .5em #ccc, inset 0 0 .1em .25em #ccc;
}

.marquee-rtl > :first-child {
    display: inline-block;
    padding-right: 2em;
    padding-left: 100%;
    white-space: nowrap;
    animation-name: defilement-rtl;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-100%,0,0);
    }
}

.h1 {
    font-size: 90px;
    font-family: 'Consolas', sans-serif;
}

.image {
    width: 300px;
    height: 213px;
    float: left;
}

:root {
    --hauteur-menu: 60px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: var(--hauteur-menu);
}

nav ul {
    list-style: none;
}

nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}

.menu-deroulant > a::after{
    content: ">";
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
}

.sous-menu > li >a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

nav >ul > li:hover >a {
    color: #C28165;
}

.sous-menu >li:hover {
    background-color: #C28165;
}

.sous-menu > li:hover > a {
    color: white;
}

@keyframes rotationfleche {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
    
}

.menu-deroulant:hover > a:after {
    animation: rotationfleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
        border-top: 3px solid #C28165;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }

    100% {
        max-height: 50em;
        border-top: 3px solid #C28165;
        box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}


/*debut de mon main*/

.content {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    border: solid 3px #000000;
    padding-top: 20px;
    align-items: center;
    background: #e4d2a1;
    border-radius: 10px;
}

.resto1 img {
    width: 40%;
    height: 300px;
    border-radius: 25px;
    margin-left: 100px;
}

.restauration {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #C28165;
    width: 900px;
    height: 500px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: 3px solid #535252;
}

h2 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Consolas', sans-serif;
    color: #000000;
    text-shadow: 2px 4px 2px #ffffff;
}

h3 {
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: 'Consolas', sans-serif;
    color: #000000;
    text-shadow: 2px 4px 2px #ffffff;
}

h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.train{
    width: 1200px;
    height: 650px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.video1 {
    width: 650px;
    height: 400px;
    margin-left: 100px;
    padding-bottom: 20px;
}

.video2 {
    width: 650px;
    height: 400px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.aventure {
    background-color: #BCC678;
    border: solid 3px #000000;
    width: 1300px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}

.safari {
    background-color: #e4d2a1;
    border: solid 3px #000000;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

.visite-guide {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 10px;

}

.visite {
    border: solid 3px #000000;
    width: 600px;
    height: 400px;
    background-color: #e4d2a1;
    margin-left: 100px;
    text-align: center;
}

.guide {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 100px;
    border-radius: 10px;
}





/*fin de mon main*/
/*debut de mon footer*/

footer {
    width: 100%;
    height: 80px;
    background-color: #C28165;
    color: #000000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contener {
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/*fin de mon footer*/

