body{
    background-image: linear-gradient(to top right, #1a5e10, #69d167);
    min-height: 300vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}
.slider{
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.item{
    justify-content: center;
    position: absolute;
    width: 450px;
    height: 700px;
    text-align: justify;
    background-color: #E4D2A1;
    border-radius: 10px;
    padding: 20px;
    transition:  0.5s;
    left: calc(50% - 110px);
    top: 0;
}

h2{
    font-size: 30px;
    font-weight: bold;
    color:#000000 ;
    text-align: center;

}

.item img {
    width: 450px;
    height: 200px;
    border-radius: 25px;
}
#next{
    position: absolute;
    right: 50px;
    top: 40%;
}
#prev{
    position: absolute;
    left: 50px;
    top: 40%;
}

#prev, #next{
    color: #fff;
    background: none;
    border: none;
    font-size: xxx-large;
    font-family: 'Montserrat';
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.5s;
}
#prev:hover,
#next:hover{
    opacity: 1;
}